ion-header {
    --ion-background-color: #128C7E;
}

ion-tab-button {
    --color-selected: #ffffff;
}

.whatsApp-text-clr {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

div.background-color {
    --ion-background-color: #ECE5DD;
}