<ion-content>
    <ion-fab vertical="bottom" horizontal="end"  class="padding-value" slot="fixed">
        <ion-fab-button class="btn-clr" [routerLink]="'/contact/'" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <style>
            .padding-value {
                margin: 8px;
            }
            .btn-clr {
                --background: #00c43b;
            }
        </style>
    </ion-fab>
    <div *ngIf="!dataValue">
        <ion-list>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label><h3 class="profile-name"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3><p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p></ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="dataValue">
        <ion-list>
            <div *ngFor="let val of dataValue">
                <ion-item [routerLink]="'/detail/' + val.id" (click)="getIdnumValue(val.id)" routerDirection="forward">
                    <ion-thumbnail slot="start">
                        <img src="{{val.image}}" alt="{{val.name}}">
                    </ion-thumbnail>
                    <ion-label>
                        <h3 class="profile-name">{{val.name}}</h3>
                        <p>{{val.message}}</p>
                    </ion-label>
                </ion-item>
            </div>
        </ion-list>
    </div>
</ion-content>